body,
html,
p {
  margin: 0;
  padding: 0;
  font-family: tahoma, sans-serif;
}
#section_header {
  background-color: #cacaca;
  height: 100px;
}
#section_header .header_nav_1 {
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  padding: 10px;
}
#section_header .navbar_header {
  float: left;
  width: 20%;
}
#section_header .navbar_header img {
  width: 70px;
  height: auto;
  margin-top: 3px;
}
#section_header .navbar_collapse_01 {
  float: right;
  width: 80%;
}
#section_header .navbar_collapse_01 .navbar_search {
  padding-top: 18px;
  float: left;
  width: 80%;
  height: 37px;
}
#section_header .navbar_collapse_01 .navbar_search .input_search {
  width: 70%;
  float: left;
}
#section_header .navbar_collapse_01 .navbar_search input {
  width: calc(100% - 20px);
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  height: 37px;
}
#section_header .navbar_collapse_01 .navbar_search .icon_search {
  width: 10%;
  float: right;
  padding: 1px 153px 3px 0px;
  font-size: 25px;
  color: #fcfcfc;
  text-align: center;
}
#section_header
  .navbar_collapse_01
  .navbar_search
  .icon_search
  .background_color_search_icon {
  background-color: orange;
  padding: 3px 0px;
  border-radius: 5px;
}
#section_header .navbar_collapse_01 .navbar_icon {
  float: right;
  width: 20%;
}
#section_header .navbar_collapse_01 .navbar_icon ul li {
  list-style-type: none;
  float: left;
  font-size: 25px;
  padding: 5px 12px;
}
