.main-nav {
    position: sticky;
}
.main-nav.scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #495df6;
    border-bottom: 1px solid #ededed;
    transition: 0.3s ease-out;
}
.container {
    width: 100%;
    max-width: 1250px;
}
.main-nav .wrap {
    border-bottom: 1px solid #ededed;
}
.box {
    display: block;
}
.mb-nav-main li.has-child {
    position: relative;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    border-radius: 8px;
}
nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}
nav ul li a i {
    font-size: 20px;
}
.mb-nav-main li.has-child .dropdown {
    display: block;
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    z-index: 9999;
    border: 1px solid #eee;
    left: 0;
    visibility: hidden;
    background: #fff;
    left: 20px;
    width: max-content;
}
.mb-nav-main li.has-child:hover {
    background-color: orange;
}
.mb-nav-main li.has-child:hover > .dropdown {
    top: 100%;
    visibility: visible;
}