h1 {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    margin: 0;
}

h2 {
    color: #007bff;
    margin-bottom: 10px;
    font-size: 40px;
}

/* Kích thước cố định */
.checkout-container {
    width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Phần thông tin khách hàng */
.billing-details .form-group,
.payment-method .form-group {
    margin-bottom: 15px;
}

#address {
    overflow-x: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 80px;
    resize: none;
}

/* Phần tóm tắt đơn hàng */
.order-summary {
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.order-summary p {
    font-size: 20px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order-total {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: rgb(14, 236, 69);
}

/* Phần thanh toán */
.payment-method {
    margin-top: 20px;

}

/* Nút hoàn tất thanh toán */
.checkout-button {
    grid-column: span 2;
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.flex {
    display: flex;
}

.gap10 {
    gap: 10px;
}

.align {
    align-items: center;
}